.sidebar.grid_3
  .narrow Narrow Your Choices
  %ul.subgroup
    %a.heading
      Basketball
      %img{:src => '/images/basketball.png'}
    %li
      %a Notre Dame (Home)
      %span.subtext Jan 26
    %li
      %a Michigan State (Home)
      %span.subtext Jan 29
    %li
      %a Illinois (Away)
      %span.subtext Jan 31
    %li
      %a Ferris State (Home)
      %span.subtext Feb 4
    %li
      %a Duke (Away)
      %span.subtext Feb 9
  %ul.subgroup
    %a.heading
      Football
      %img{:src => '/images/football.png'}
    %li
      %a Notre Dame (Home)
      %span.subtext Jan 26
    %li
      %a Michigan State (Home)
      %span.subtext Jan 29
    %li
      %a Illinois (Away)
      %span.subtext Jan 31
    %li
      %a Ferris State (Home)
      %span.subtext Feb 4
    %li
      %a Duke (Away)
      %span.subtext Feb 9
  %ul.subgroup
    %a.heading
      Concerts
      %img{:src => '/images/shaka.png'}
    %li
      %a Lupe Fiasco
      %span.subtext Jan 26
    %li
      %a Chiddy Bang
      %span.subtext Jan 29
    %li
      %a 3LAU
      %span.subtext Jan 31
    %li
      %a Wale
      %span.subtext Feb 4

.grid_9
  .page-heading
    %h4 Tickets
    %span.subheading
      Sporting Events, Concerts, and more
    .sort
      .drop
  %ul.listings
    %li 
      %a Notre Dame vs. Michigan FIRST ROW BASKETBALL TICKET